@model UserDetailViewModel
<h1>Kullanıcı detay sayfası</h1>

<table class="table table-bordered">
    <tr>
        <th>Adı</th>
        <th>Mail</th>
        <th>Oluşturma tarihi</th>
        <th>UserName</th>
        <th>Rolü</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Email</td>
        <td>@Model.CreatedDate</td>
        <td>@Model.UserName</td>
        <td>
            <select asp-for="SelectedRoleId" asp-items="ViewBag.Roles" class="btn btn-danger dropdown-toggle"></select>
        </td>
        <td>
            <a href="~/Admin/Manage/Update/@Model.Id" class="btn btn-danger">Güncelle</a>
            <a asp-action="Delete" class="btn btn-dark">Sil</a>
        </td>

    </tr>
</table>