@{
    ViewBag.Title = "Tüm Kullanıcılar";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="card-title">Kullanıcı Detayları</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="dxGrid"></div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script src="~/Vendor/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>
    <script>
        var dataGrid = null;
            $(() => {
            var url = '../../../api/userapi';
        dataGrid = $("#dxGrid").dxDataGrid({
                remoteOperations: { paging: true, filtering: true, sorting: true, grouping: true, summary: true, groupPaging: true },
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: `${url}/get`,
                    updateUrl: `${url}/update`,
                    //insertUrl: `${url}/insert`
                    deleteURl: `${url}/delete`,
                    onBeforeSend(method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                        console.log(method);
                        console.log(ajaxOptions);
                    }
                }),

            editing: {
                mode: 'form',
                allowUpdating: true,
                allowDeleting:true
            },
            allowColumnResizing: true,
            showColumnLines: true,
            showRowLines: true,
            rowAlternateEnabled: true,
            showBorders: true,
            searchPanel: {
                visible: true,
                width: 240,
                placeholder:"Ara..."
            },
            filterRow: {
                visible: true,
                applyFilter:"auto"
            },
            headerFilter: {
                visible:true
            },
            export: {
                enabled: true,
                fileName: `Tüm kullanıcılar ${parseInt(Math.random() * 10000000)}`
            },
            paging: {
                pageSize:20
            },
            pager: {
                showPageSizeSelector: true,
                allowPageSizes: [5, 15, 30, 45],
                showInfo:true
            },
            selection: {
                mode:"multiple"
            },
            columns: [
                {
                    caption:"Id",
                    dataField: "id",
                    visible: false,
                    allowFiltering: false,
                    formItem: {visible:false}
                },
                {
                    caption: "Ad",
                    dataField:"name"
                },
                {
                    caption: "Soyad",
                    dataField: "surname"
                },
                {
                    caption: "Kullanıcı Adı",
                    dataField:"userName"
                },
                {
                    caption: "Email Adresi",
                    dataField: "email"
                },
                {
                    caption: "Email Onayı",
                    dataField: "emailConfirmed",
                    dataType:"boolean"
                },
                {
                    dataField: "createdDate",
                    caption: "Kayıt Tarihi",
                    dataType: "datetime",
                    format:'dd/MM/yyyy HH:mm',
                    sortOrder:"desc"
                }
            ]
            }).dxDataGrid("instance");

    });
    </script>
}