
@{
    ViewBag.Title = " Şifremi Unuttum :(";
}


<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h1 style="text-align:center">@ViewBag.Title</h1>
                        </div>
                        <div class="text-info">@ViewBag.Message</div>
                        <form asp-controller="Account" asp-action="ResetPassword" method="post">
                            <div class="form-group first">
                                <label for="email">email</label>
                                <input type="email" name="email" id="email" class="form-control" />
                            </div>
                            <input type="submit" value="Link yolla" class="btn text-white btn-block btn-primary">

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>