@inject SignInManager<ApplicationUser> SignInManager
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a asp-action="Index" asp-controller="Home">Platform</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Ana Sayfa</a></li>
                <li><a class="nav-link scrollto" href="#about">Hakkımızda</a></li>
                <li><a class="nav-link scrollto" href="#services">Teknik Servis Hizmetimiz</a></li>
                <li><a class="nav-link scrollto" href="#faq">SSS</a></li>
                <li><a class="nav-link scrollto" href="#contact">İletişim</a></li>
                @if (SignInManager.IsSignedIn(Context.User))
                {
                    <li><a class="getstarted scrollto" asp-controller="Account" asp-action="Logout">Çıkış Yap</a></li>
                }
                else
                {
                    <li><a class="getstarted scrollto" asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
                }
            </ul>
            
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->
