@model AddFaultViewModel

@{
    ViewBag.Title = "Ârıza Bildirimi Ver";
}

@section Styles {
    <style>
        .text-back {
            background-color: blue;
        }
    </style>
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h1 style="text-align:center">@ViewBag.Title</h1>
                        </div>
                        <form asp-controller="Customer" asp-action="AddFault" method="post">
                            <div class="form-group first text-back">
                                <input type="text" disabled="disabled" value="@ViewBag.UserName" class="form-control text-back" />
                            </div>
                            <div class="form-group first text-back">
                                <input type="text" disabled="disabled" value="@ViewBag.Email" class="form-control text-back" />
                            </div>

                            <div class="form-group first">
                                <label asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                            </div>

                            <div class="form-group first">
                                <label asp-for="Address"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>

                            </div>

                            <div class="form-group first">
                                <label asp-for="Description"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>

                            </div>



                            <input type="submit" value="Arıza Bildirimi Ver" id="btnAriza" class="btn text-white btn-block btn-primary">

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts{

    <script>
        var ariza = document.getElementById("btnAriza");
        ariza.onclick = function () {
            window.alert(@TempData["Message"])}
    </script>
}
